
@font-face {
    font-family: Dunkin;
    src: url(../fonts/dunkin/Dunkin.otf);
}

body {
    background: url(../images/background_stars.jpg)
}

#wrapper {
    border: 3px solid #CCD5FF;
    width: 1024px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: beige;
}



#intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#main-image {
    height: 250px;
    margin: 10px;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    justify-self: center;
    transition: transform 10s;
}

#main-image:hover {
    transform: rotate(-999999999999999999999deg) scale(1.5);
}

hr {
    width: 99%;
}

h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: dunkin;
    font-size: 2em;
}

#welcome-message {
    font-family: roboto;
    /* margin-left: 200px; */
    align-self: center;
    justify-self: center;    
}

#hello {
    width: 80px;
    height: 40px;
    margin-left: 500px;
    background-color: #CCD5FF;
}

#hello:hover {
    background-color: whitesmoke;
}

header img {
    float: left;
    width: 100px;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr 80px;
}

#intro h2 {
    align-self: center;
    justify-self: center;
}


nav {
    /* background: skyblue; */
    height: 100px;
    align-content: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}

nav li{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 36px 6px 36px;
}

nav a:hover {
    color: #1c9c26;
    text-shadow: 2.5px 2.5px black;
}

#contact {
    width: 200px;
    min-height: 200px;
    border: solid #273830 3px;
    padding: 6px;
    color: black;
    background-color: aquamarine;
    position: fixed;
    bottom: 0px;
    right: 20px;
    transition: height .85s ease-in;
}

input {
    width: 30px;
}

#contact form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30px 30px 2fr 60px 30px;
}

label {
    grid-column: 1 / 2;
}

input {
    width: 100%;
}

#newsletter {
    margin: 30px 30px 30px 10px;
}

.stretch {
    display: grid;
    grid-template-columns: 2fr 73px;
    grid-column: 1 / 4;
}


#contact:hover {
    transition: height .85s ease-in;
    height: 35%;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
}

h3 {
    grid-column: 1 / 4;
}



main section {
    justify-self: center;
    box-sizing: border-box;
    display: grid;
    margin: 20px;
    width: 300px;
    height: 300px;
    padding: 8px;
    border: 12px solid #273830;
    justify-items: center;
    transition: transform 1s;
}

main section:hover {
    transform: scale(1.1);
}

h4 {
    height: 10%;
    color: black;
    justify-self: center;
    margin: 0;
    font-family: roboto;
}

#wwr {
    background-image: url("../images/wwr.png");
    background-size: 100%;
    background-position: 0px, 20px;
}

#ice {
    background-image: url("../images/ice.png");
    background-size: 100%;
    
}

#project {
    background-image: url("../images/project.png");
    background-size: 100%;
    
}


#aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#me {
    justify-self: center;
    align-self: center;
    height: 200px;
    margin: 20px;
}

.about-me-heading {
    grid-column: 1 / 3;
}

#about-me-description {
    grid-column: 1 / 3;
    justify-self: center;
}


footer {
    clear: both;
}

table.blueTable {
    justify-self: center;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    text-align: left;
    margin: 20px;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable thead {
    background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#donate {
    background-color: #CCD5FF;
    height: 40px;
    width: 80px;
    justify-self: center;
    align-self: center;
}

#donate:hover {
    background-color: whitesmoke;
} 


@media (max-width:1024px) {
    #wrapper{
        width: 200%;
        margin: unset;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    main section{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 745px) {
    header {
        display:block;
        text-align: center;
        height: unset;
    }
    header img {
        display: none;
    }
    nav ul{
        display: block;
        text-align: center;
    }
    nav a{
        padding: 0 30%;
    }
    
    /* fill up other elements */
    
}